body{
    margin:0;
    background: radial-gradient(circle, rgb(21, 61, 172), #020525);
}

.navbar {
    display: flex;
    background: #03032c;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    padding: 10px 20px;
    box-shadow: 0 0 30px rgba(24, 24, 24, 0.6);

}

.navbar h2{
    font-family: 'Chakra Petch', serif;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(245, 240, 240, 0.8);

}

.navbar a{
    font-family: 'Chakra Petch', serif;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar-buttons{
    display: flex;
    gap: 20px;
}

.nav-button:hover {
    color: #32bbf1;
    text-shadow: 0 0 15px rgba(50, 187, 241, 0.8); 
    transform: scale(1.1); 
}

.Sobre .container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center; 
    gap: 20px;
    margin-top: 5%;
}

.Sobre .container .title{
    text-shadow: 1px 1px 4px rgba(245, 240, 240, 0.8);
}

.Sobre .texto{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);

}

.text-col {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.foto {
  height: 100%;
  width: 100%;        
  max-width: 300px;     
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  box-shadow: 0 0 30px rgba(24, 24, 24, 0.6);

}

.foto:hover{
      transform: scale(1.1); 
      transition: all 0.3s ease;
      box-shadow: 0 0 15px rgba(50, 187, 241, 0.8); 

}

.foto-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    background: transparent;
    border-radius: 6px;
    color:aliceblue;
}

section{
    margin: 1%;
}

.Formacao .container{
    margin-top: 5%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    padding: 0 10%; 
    gap: 50px; 
}

.title {
    grid-column: 1 / -1;
    text-align: center; 
    margin-top: 20px;
    text-shadow: 1px 1px 4px rgba(245, 240, 240, 0.8);
}

.card{
    background: #fff; 
    margin-bottom: 20px;
    padding: 20px; 
    border-radius: 6px; 
    box-shadow: 0 0 30px rgba(24, 24, 24, 0.8);

}

.card .titulo{
    color:rgb(4, 149, 206);
    text-shadow: 1px 1px 5px rgba(253, 252, 252, 0.8);
}

.card:hover{
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(50, 187, 241, 0.8); 

}

.Projetos .container{
    margin-top: 5%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    padding: 0 7%; 
    gap: 50px; 
}

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-top: 15px; 
}

.tecnologias .fw-bold { 
    background-color: rgba(4, 149, 206, 0.3); 
    padding: 5px 15px; 
    border-radius: 15px;
}

.caminhos i {
    font-size: 2rem;
    color: #32bbf1;
    padding: 2%; 
}

footer{
    color:#f1f0f0;
    text-align: center;
}

.Habilidades .container {
    text-align: center;
}

.hab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.habilidade-card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #000;
}

.habilidade-card img {
    height: 50px;
}

.habilidade-card:hover{
    transform: scale(1.1); 
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(50, 187, 241, 0.8);
}

.Certificacoes .container{
    margin-top: 5%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    padding: 0 7%; 
    gap: 50px;
    text-align: center; 
}


.Contato {
    text-align: center;
}

.contatos {
    margin-top: 30px;
    flex-direction: column;
    gap: 20px; 
}

.contato-item a {
    color: #fff; 
    text-decoration: none;
    font-size: 1.2rem; 
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.contato-item a:hover {
    color: #32bbf1; 
}

.contato-item i {
    font-size: 1.8rem; 
}

  
