body{
    margin:0;
    background: #2b2b2b;
}

.navbar {
    display: flex;
    background-color: black;
    align-items: center;
    flex-wrap: wrap; 
    padding: 10px 20px;
}

.navbar h2{
    color: #fff;
}

.navbar a{
    color: #fff;
    text-decoration: none;
}

.navbar-buttons{
    display: flex;
    gap: 2%;
}

.Sobre .container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 26px;
    align-items: center;
    justify-content: center;
}

.foto {
  height: 60%;
  width: 60%;        
  max-width: 300px;     
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);

}

.foto-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    background: linear-gradient(45deg, #2b2b2b, #b5b5b5);
    border-radius: 6px;
    color:aliceblue;
}

section{
    margin: 1%;
}

.Formacao .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Formacao h1 {
    grid-column: 1 / -1; 
}